name: Build dependencies

on:
  push:
    branches: [ main ]
    paths:
      - 'deps/**'
  pull_request:
    branches: [ main ]
    paths:
      - 'deps/**'
  workflow_dispatch:

jobs:
  linux:
    name: Linux
    runs-on: ubuntu-22.04
    steps:
      - name: Check out repo
        uses: actions/checkout@v4

      - name: Install build tools
        run: |
          sudo apt-get update
          sudo apt-get install nasm

      - name: Build deps
        run: |
          export MAKEFLAGS="-j$(nproc)"
          ./deps/build-deps-linux.sh

      - run: |
          git status
          git diff

      - name: Compress deps
        run: tar -czf deps.tar.gz deps/linux

      - name: Upload deps artifact
        uses: actions/upload-artifact@v4
        with:
          name: deps-linux.tar.gz
          path: deps.tar.gz

  macos:
    name: macOS
    runs-on: macos-14
    steps:
      - name: Check out repo
        uses: actions/checkout@v4

      - name: Install build tools
        run: |
          brew install autoconf
          brew install automake
          brew install coreutils # for ffmpeg build
          brew install libtool

      - name: Build deps
        run: |
          export MAKEFLAGS="-j$(nproc)"
          ./deps/build-deps-osx.sh

      - run: |
          git status
          git diff

      - name: Compress deps
        run: tar -czf deps.tar.gz deps/osx

      - name: Upload deps artifact
        uses: actions/upload-artifact@v4
        with:
          name: deps-macos.tar.gz
          path: deps.tar.gz
